
/* PHONE CHECKER */

.phone_block {
    background: black;
    padding: 100px 0;
}

.inner_phone_block {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid var(--orange);
    height: 300px;
    border-radius: 20px;
    align-items: center;
}

.form_phone {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_phone button {
    width: 100%;
    margin: 20px 0;
}

/* TAB SLIDER */

.tab_slider {
    background: black;
    padding: 100px 0;
}

.tab_content_block {
    width: 760px;
    border: 1px solid var(--orange);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 260px;
}

.tab_content_block p {
    color: white;
    margin-top: 10px;
    text-align: justify;
}

.tab_content_block_active {
    display: flex;
}

.tab_content_items {
    width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.tab_content_item {
    padding: 10px;
    min-height: 50px;
    color: white;
    background: var(--black);
    border: 1px solid var(--orange);
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    display: grid;
    place-content: center;
}

.tab_content_item_active {
    background: var(--orange);
    color: black;
    font-weight: 600;
    border: 1px solid white;
}

.tab_contents_block {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 24px;
    margin-top: 50px;
}

@media (max-width: 1200px) {
    .tab_contents_block {
        flex-direction: column;
    }

    .tab_content_block,
    .tab_content_items {
        width: 100%;
    }
}

/*------CARD SWITCHER------*/

.card_switcher {
    background-color: black;
    padding: 100px 0;
}

.card {
    width: 500px;
    height: 150px;
    border: 1px solid var(--orange);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.card p {
    color: var(--orange);
    font-size: 20px;
}

.card span {
    color: white;
    font-size: 30px;
}

.inner_card_switcher {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*-------CONVERTER--------*/


.converter {
    padding: 100px 0;
    background-color: black;
}

.inner_converter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}

.inner_converter > div {
    display: flex;
    flex-direction: column;
}

/*------WEATHER------*/

.weather {
    padding: 100px 0;
    background-color: black;
}

.inner_weather > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 25px;
}

.inner_weather {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

hr {
    width: 100%;
}
